.puzzle-piece {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  background: linear-gradient(
    90deg,
    rgba(91, 92, 94, 1) 0%,
    rgba(216, 215, 213, 1) 50%,
    rgba(119, 121, 122, 1) 100%
  );
  clip-path: path(
    "M242.398 541.901C242.399 574.195 268.974 600.28 301.448 599.482C332.208 598.733 357.171 573.478 357.594 542.712C357.767 530.075 353.869 518.352 347.129 508.776C342.317 501.949 347.281 492.539 355.625 492.539H437.11C467.724 492.539 492.542 467.717 492.542 437.11V355.633C492.542 347.303 501.94 342.316 508.767 347.126L508.768 347.125C518.137 353.723 529.565 357.602 541.902 357.602C574.176 357.602 600.254 331.046 599.483 298.588C598.747 267.83 573.513 242.847 542.748 242.404C530.097 242.227 518.362 246.126 508.78 252.874C501.948 257.683 492.542 252.712 492.542 244.373V162.896C492.542 132.282 467.721 107.46 437.104 107.46H355.627C347.284 107.46 342.319 98.0503 347.129 91.2168C353.876 81.6408 357.775 69.9042 357.593 57.2529C357.15 26.4872 332.173 1.25291 301.414 0.516602C268.955 -0.260426 242.398 25.825 242.398 58.0986C242.399 70.436 246.276 81.8587 252.877 91.2305C257.686 98.0586 252.702 107.46 244.368 107.46H162.901C132.284 107.46 107.463 132.282 107.463 162.896V244.373C107.463 252.703 98.0617 257.691 91.2354 252.881C81.865 246.276 70.4355 242.397 58.0967 242.397C25.7963 242.398 -0.299151 269 0.518555 301.485C1.29348 332.237 26.5465 357.186 57.3086 357.595C69.9421 357.765 81.6533 353.866 91.2207 347.132C98.0536 342.324 107.463 347.279 107.463 355.626V437.11C107.463 467.717 132.28 492.539 162.895 492.539H244.37C252.703 492.539 257.689 501.941 252.878 508.763H252.877C246.274 518.134 242.398 529.564 242.398 541.901Z"
  );
  filter: drop-shadow(10px 10px 15px #00000099);
}
